body {
    background-image: url('../img/background.jpg');
}

h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    color: rgb(26, 61, 114);
    margin-bottom: 0.5em;
    padding: 0 0 0.5em 0; 
}

h3 {
    font-size: 1.4em;
    text-transform: uppercase;
    padding: 0 0 0.5em 0; 
    border-bottom: 1px solid black;
    margin: 20px 0;
}

#ustava h4 {
   font-size: 1.2em;
   background-color: #666;
   color: white;
   padding: 0.5em;
}

#ustava h4:hover {
    background-color: rgb(43, 126, 94);
}

header {
    background-color: rgba(0, 30, 94, 0.5);
}

main {
    background-color: rgba(0, 30, 94, 0.5);
}

.content {
    background-color: rgba(255, 255, 255, 0.7);
}

footer {
    background-color: rgba(0,0,0,0.8);
}

